* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF; 
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    width: 400px;
    margin-top: 25px;
    line-height: 1.15;
    font-size: 25px;
    font-weight: bold;
    float: left;
    font-family: Georgia;
    font-style: italic;
    color: #c8fcea;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #00754b;
    z-index: 1;
    border-bottom: 10px solid #76f881;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #effcd8;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    transition: padding 0.3s ease, background 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #000;
    padding: 10px 20px;
}

/* Section Default (Tidak rata tengah) */
section {
    margin: auto;
    display: flex;
    align-items: center;
}

/*bagian beranda*/
section#beranda {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    scroll-margin-top: 100px;
}

section#beranda img {
    width: 600px;
    height: auto;
}

section#beranda .kolom {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

section#beranda h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #22c076e3;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

section#beranda .desc{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #22c076e3;
    text-align: center;
    margin-bottom: 30px;
}

section#beranda p .tbl-pink {
    background: #15b46a;
    border-radius: 20px;
    padding: 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: padding 0.3s ease, background 0.3s ease;
}

section#beranda .tbl-pink:hover {
    background: #3f72af;
    padding: 20px 40px;
}

/* bagian profil */
section#profil {
    flex-direction: row;
    text-align: left;
    margin-top: 150px;
    scroll-margin-top: 100px;
}

section#profil img {
    width: 600px;
    height: auto;
    margin-right: 50px;
    margin-top: 10px;
}

.kolom1 {
    text-align: left;
}

section#profil h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #23f090;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

section#profil p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #666666;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}

/* bagian tentang*/
section#tentang {
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 20px; 
    margin-top: 150px;
    scroll-margin-top: 100px;
}

section#tentang img {
    width: 600px;
    height: auto;
    margin-left: 50px; 
    margin-right: auto; 
    margin-top: 10px;
}

section#tentang h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #23f090;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

section#tentang p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #666666;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}

section#tentang .tbl-infografis {
    background: #15b46a;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: padding 0.3s ease, background 0.3s ease;
}

section#tentang .tbl-infografis:hover {
    background: #3f72af;
    padding: 20px 40px;
}

section#tentang .kolom1 {
    flex: 1; 
}

/*keanggotaan*/
section#keanggotaan {
    text-align: center;
    width: 100%;
    margin-top: 150px;
    scroll-margin-top: 40px;
}

section#keanggotaan h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #22c076e3;
    width: 100%;
    line-height: 50px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.container h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    color: #effcd8;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.container p{
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 10px;
}

.box {
    background: #6a9a8b;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 2px;
    height: 50px;
    background: #333;
    margin: 0 auto;
    position: relative;
}
.horizontal-line {
    width: 60px;
    height: 2px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

.list-anggota {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.anggota {
    width: 20%;
    margin: 0 auto;
}

.anggota img {
    width: 80%;
    border-radius: 50%;
}

.anggota p {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #666666;
}

/*infografis or data*/
section#pendahuluan {
    text-align: left;
    display: flex;
}

section#pendahuluan h3 {
    font-size: 35px;
    color: #22c076e3;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

section#pendahuluan p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #666666;
    margin-bottom: 20px;
    text-align: left;
}

section#pendahuluan h4 {
font-family: 'Montserrat';
font-weight: 800;
font-size: 25px;
margin-top: 40px;
margin-left: 10px;
color: #22c076e3;
width: 100%;
line-height: 50px;
text-align: left;
}

section#informasi {
    display: flex;
    flex-direction: row-reverse; 
    align-items: start;
    justify-content: flex-end;
    text-align: left;
    gap: 130px; 
    margin-top: 10px;
    scroll-margin-top: 100px;
}

section#informasi img {
    width: 600px;
    height: auto;
    background: #d8e0eb;
    border-radius: 10px;
    display: inline-block;
    padding: 20px 20px;
}

section#informasi .box_infografis {
    background: #d8e0eb;
    border-radius: 10px;
    width: 210px;
    height: auto;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: left; 
    transition: padding 0.3s ease, background 0.3s ease; 
}

section#informasi .tbl-infografis {
    background: #d8e0eb;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 17px;
    color: #000000;
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: left; 
    transition: padding 0.3s ease, background 0.3s ease; /* Animasi perubahan */
}

section#informasi .tbl-infografis:hover {
    background: #ad1414;
    padding: 20px 40px; /* Padding bertambah saat hover */
}


/*tabel*/
.judul-tabel {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
    scroll-margin-top: 100px;
    gap: 0px;
    max-width: 100%;
    background: #d8e0eb;
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto; 
}

.judul-tabel p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; 
    color: #666666;
}


section#informasi .isi {
    display: flex;
    flex-direction: row-reverse; 
    align-items: flex-start; 
    text-align: left;
    scroll-margin-top: 100px;
    gap: 0px;
    max-width: 100%;
    background: #d8e0eb;
    border-radius: 10px;
    padding: 0px;
    overflow-x: auto; 
}

.tabel-1 {
    flex-shrink: 0; 
}

.tabel-1 table {
    width: max-content; 
    border-collapse: collapse;
}

.tabel-2 {
    flex-grow: 1; 
    overflow-x: auto; 
}

.tabel-2 table {
    width: 100%; 
    min-width: 600px; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #747474;
    padding: 8px;
}
th {
    background-color: #00754b;
    text-align: center;
    color: #ffffff;
}
td:nth-child(n+3) {
    text-align: right;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.jumlah {
    font-weight: bold;
    background-color: #e0e0e0;
}

section#informasi .box_infografis-1 {
    background: #d8e0eb;
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: left; 
    transition: padding 0.3s ease, background 0.3s ease; 
}


/*Footer*/
#kontak {
    background:#76f881;
    padding: 30px 0px 40px 0px;
    margin-top: 150px;
    scroll-margin-top: 100px;
    border-top: 20px solid #00754b;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    object-fit: cover;
}

.footer-section img{
    width: 10%;
    border-radius: 30%;
}

.footer-section p{
    font-family: 'Roboto';
    line-height: 1.15;
    font-size: 15px;
    color: #522f80;
}

h5 {
    font-family: 'Montserrat';
    font-weight:800;
    font-size: 25px;
    margin-bottom: 10px;
    color: #00754b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 20px 0px 40px 0px;
    font-size: 12px;
    background: #00754b;
    color: #effcd8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    section#informasi {
        display: block;
        width: 100%;
        height: auto;
        gap: auto;
    }
    .judul-tabel {
        height: auto;
    }
    section#informasi .isi {
        width: 100%;
        height: auto;
        gap: auto;
    }

    .box_infografis {
        width: 100%;
        height: auto;
        gap: auto;
    }

    .box_infografis-1 {
        width: 100%;
        height: auto;
        gap: auto;
    }
}

